@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(https://db.onlinewebfonts.com/c/40470d861d6e0b412549fb42f2954e97?family=Lexia+Light+Italic);
@import url(https://fonts.cdnfonts.com/css/helvetica-neue-5);

body {
  background-color: #ddd;
  padding-bottom: 0.5rem;
}
main {
  @apply bg-white p-3 min-h-[90vh] flex flex-col gap-2;
  border: 1px solid #d7d7d7;
  font-family: "Helvetica Neue";
}

button {
  display: flex;
  justify-items: center;
  align-items: center;
  line-height: 1.25;
  font-family: "Lexia Light Italic";
  font-style: italic;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.button--primary {
  height: 40px;
  min-width: fit-content;
  font-size: 1rem;
  margin: 2rem;
  padding: 0.75rem 1rem;
  color: white;
  background: #d0006f;
  border-radius: 5px;
  letter-spacing: 1.4px;
}

.button--disabled {
  background-color: #555;
}

.p--error {
  @apply text-red-600;
}

select,
.input-age {
  padding: 0.25rem;
  background-color: #f9fafb;
  background-size: 10px;
  border: transparent;
  border-bottom: 1px solid #aaa;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  outline: none;
  width: 50%;
  align-self: center;
}

select:focus {
  border-bottom: 1px solid #d0006f;
}

/* Home */

.bolded-black {
  font-weight: bold;
}

.product-name-home {
}

.container-name-description {
  display: flex;
  flex-direction: column;
}

.container-confirmation-home {
}
/* First Chart */

.input-age:focus {
  border-bottom: 1px solid #d0006f;
}

.form-home {
  @apply flex flex-col mt-10;
}

.form-age-first-chart,
.div-gender-select-submit {
  @apply flex flex-col gap-2;
}

@media (max-width: 680px) {
  .form-home {
    display: none;
  }
  .div-camera {
    @apply flex flex-col w-full my-0 text-2xl;
  }

  .camera-button {
    display: inline;
    margin-top: 8%;
    width: 40%;
    align-self: center;
  }
}
@media (min-width: 681px) {
  .h1-barcode-text {
    display: none;
  }

  .div-camera {
    display: none;
  }
}
.bolded {
  font-weight: bolder;
  color: #e0be13;
}

/* Main Chart */
.form__error-message {
  background-color: #f8f8f8;
  color: red;
  border: 1px solid red;
  max-width: 440px;
  margin: 20px auto;
  padding: 10px;
}
